<h2>
    Xbmc.Library.Audio
</h2>
<ul>
    <li tooltip="(Array.Object) Xbmc.Library.Audio.getArtists()">
        <b onclick="Application.MessageBox.show(Xbmc.Library.Audio.getArtists(), $(this).html())">
            Get artists
        </b>
        <ul>
            <li tooltip="(Int) Xbmc.Library.Audio.getArtistCount()">
                <b onclick="Application.MessageBox.show(Xbmc.Library.Audio.getArtistCount(), $(this).html())">
                    Get artist count
                </b>
            </li>
        </ul>
    </li>
    <li tooltip="(Array.Object) Xbmc.Library.Audio.getAlbums()">
        <b onclick="Application.MessageBox.show(Xbmc.Library.Audio.getAlbums(), $(this).html())">
            Get albums
        </b>
        <ul>
            <li tooltip="(Int) Xbmc.Library.Audio.getAlbumCount()">
                <b onclick="Application.MessageBox.show(Xbmc.Library.Audio.getAlbumCount(), $(this).html())">
                    Get album count
                </b>
            </li>
        </ul>
    </li>
    <li tooltip="(Array.Object) Xbmc.Library.Audio.getSongs()">
        <b onclick="Application.MessageBox.show(Xbmc.Library.Audio.getSongs(), $(this).html())">
            Get songs
        </b>
        <ul>
            <li tooltip="(Int) Xbmc.Library.Audio.getSongCount()">
                <b onclick="Application.MessageBox.show(Xbmc.Library.Audio.getSongCount(), $(this).html())">
                    Get song count
                </b>
            </li>
        </ul>
    </li>
    <li tooltip="(Bool) Xbmc.Library.Audio.scanForContent()">
        <b onclick="Application.MessageBox.show(Xbmc.Library.Audio.scanForContent(), $(this).html())">
            Scan for content
        </b>
    </li>
</ul>