<h2>
    Xbmc.Files
</h2>
<ul>
    <li tooltip="(Object) Xbmc.Files.getSources()">
        <b onclick="Application.MessageBox.show(Xbmc.Files.getSources(), $(this).html())">
            Get available shares
        </b>
    </li>
    <li tooltip="(String) Xbmc.Files.download('http://www.google.com')">
        <b onclick="Application.MessageBox.show(Xbmc.Files.download('http://www.google.com'), $(this).html())">
            Download
        </b>
    </li>
    <li tooltip="(Object) Xbmc.Files.getDirectory('/valid/directory/path/')">
        <b onclick="Application.MessageBox.show(Xbmc.Files.getDirectory('/valid/directory/path/'), $(this).html())">
            Get directory content
        </b>
    </li>
</ul>