<h2>
    Xbmc.Library.Video
</h2>
<ul>
    <li tooltip="(Array.Object) Xbmc.Library.Video.getMovies()">
        <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getMovies(), $(this).html())">
            Get movies
        </b>
        <ul>
            <li tooltip="(Int) Xbmc.Library.Video.getMovieCount()">
                <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getMovieCount(), $(this).html())">
                    Get the number of movies
                </b>
            </li>
        </ul>
    </li>
    <li tooltip="(Array.Object) Xbmc.Library.Video.getTvShows()">
        <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getTvShows(), $(this).html())">
            Get tv shows
        </b>
        <ul>
            <li tooltip="(Int) Xbmc.Library.Video.getTvShowCount()">
                <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getTvShowCount(), $(this).html())">
                    Get the number of tv shows
                </b>
            </li>
        </ul>
    </li>
    <li tooltip="(Bool) Xbmc.Library.Video.getSeasons()">
        <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getSeasons(), $(this).html())">
            Get seasons
        </b>
        <ul>
            <li tooltip="(Int) Xbmc.Library.Video.getSeasonCount()">
                <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getTvShowCount(), $(this).html())">
                    Get the number of seasons
                </b>
            </li>
        </ul>
    </li>
    <li tooltip="(Bool) Xbmc.Library.Video.getEpisodes()">
        <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getEpisodes(), $(this).html())">
            Get episodes
        </b>
        <ul>
            <li tooltip="(Int) Xbmc.Library.Video.getEpisodeCount()">
                <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getEpisodeCount(), $(this).html())">
                    Get the number of episodes
                </b>
            </li>
        </ul>
    </li>
    <li tooltip="(Bool) Xbmc.Library.Video.getMusicVideoAlbums()">
        <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getMusicVideoAlbums(), $(this).html())">
            Get music video albums
        </b>
        <ul>
            <li tooltip="(Int) Xbmc.Library.Video.getMusicVideoAlbumCount()">
                <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getMusicVideoAlbumCount(), $(this).html())">
                    Get the number of video albums
                </b>
            </li>
        </ul>
    </li>
    <li tooltip="(Bool) Xbmc.Library.Video.getMusicVideos()">
        <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getMusicVideos(), $(this).html())">
            Get music videos
        </b>
        <ul>
            <li tooltip="(Int) Xbmc.Library.Video.getMusicVideoCount()">
                <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getMusicVideoCount(), $(this).html())">
                    Get the number of music videos
                </b>
            </li>
        </ul>
    </li>
    <li tooltip="(Bool) Xbmc.Library.Video.getRecentlyAddedMovies()">
        <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getRecentlyAddedMovies(), $(this).html())">
            Get recently added movies
        </b>
        <ul>
            <li tooltip="(Int) Xbmc.Library.Video.getRecentlyAddedMovieCount()">
                <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getRecentlyAddedMovieCount(), $(this).html())">
                    Get the number of recently added movies
                </b>
            </li>
        </ul>
    </li>
    <li tooltip="(Bool) Xbmc.Library.Video.getRecentlyAddedEpisodes()">
        <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getRecentlyAddedEpisodes(), $(this).html())">
            Get recently added episodes
        </b>
        <ul>
            <li tooltip="(Int) Xbmc.Library.Video.getRecentlyAddedEpisodeCount()">
                <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getRecentlyAddedEpisodeCount(), $(this).html())">
                    Get the number of recently added episodes
                </b>
            </li>
        </ul>
    </li>
    <li tooltip="(Bool) Xbmc.Library.Video.getRecentlyAddedMusicVideos()">
        <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getRecentlyAddedMusicVideos(), $(this).html())">
            Get recently added music videos
        </b>
        <ul>
            <li tooltip="(Int) Xbmc.Library.Video.getRecentlyAddedMusicVideoCount()">
                <b onclick="Application.MessageBox.show(Xbmc.Library.Video.getRecentlyAddedMusicVideoCount(), $(this).html())">
                    Get the number of recently added music videos
                </b>
            </li>
        </ul>
    </li>
    <li tooltip="(Bool) Xbmc.Library.Video.scanForContent()">
        <b onclick="Application.MessageBox.show(Xbmc.Library.Video.scanForContent(), $(this).html())">
            Scan for content
        </b>
    </li>
</ul>