<h2>
    Xbmc.Player.Picture
</h2>
<ul>
    <li tooltip="(Bool) Xbmc.Player.Picture.playPause()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Picture.playPause(), $(this).html())">
            Play / Pause
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Picture.stop()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Picture.stop(), $(this).html())">
            Stop
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Picture.skipPrevious()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Picture.skipPrevious(), $(this).html())">
            Previous
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Picture.skipNext()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Picture.skipNext(), $(this).html())">
            Next
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Picture.moveLeft()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Picture.moveLeft(), $(this).html())">
            Move left
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Picture.moveRight()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Picture.moveRight(), $(this).html())">
            Move right
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Picture.moveDown()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Picture.moveDown(), $(this).html())">
            Move down
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Picture.moveUp()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Picture.moveUp(), $(this).html())">
            Move up
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Picture.zoomIn()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Picture.zoomIn(), $(this).html())">
            Zoom in
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Picture.zoomOut()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Picture.zoomOut(), $(this).html())">
            Zoom out
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Picture.zoomPicture()">
        <b onclick="Application.Controls.zoomPicture()">
            Zoom
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Picture.rotate()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Picture.rotate(), $(this).html())">
            Rotate picture clockwise
        </b>
    </li>
</ul>