<h2>
    Xbmc.System
</h2>
<ul>
    <li tooltip="(Bool) Xbmc.System.shutdown()">
        <b onclick="Application.MessageBox.show(Xbmc.System.shutdown(), $(this).html())">
            Shutdown
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.System.suspend()">
        <b onclick="Application.MessageBox.show(Xbmc.System.suspend(), $(this).html())">
            Suspend
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.System.hibernate()">
        <b onclick="Application.MessageBox.show(Xbmc.System.hibernate(), $(this).html())">
            Hibernate
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.System.reboot()">
        <b onclick="Application.MessageBox.show(Xbmc.System.reboot(), $(this).html())">
            Reboot
        </b>
    </li>
    <li tooltip="(Object) Xbmc.System.getInfo()">
        <b onclick="Application.MessageBox.show(Xbmc.System.getInfo(), $(this).html())">
            Get info
        </b>
    </li>
</ul>