<h2>
    Xbmc.Player.Video
</h2>
<ul>
    <li tooltip="(Bool) Xbmc.Player.Video.playPause()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Video.playPause(), $(this).html())">
            Play / Pause
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Video.stop()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Video.stop(), $(this).html())">
            Stop
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Video.skipPrevious()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Video.skipPrevious(), $(this).html())">
            Previous
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Video.skipNext()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Video.skipNext(), $(this).html())">
            Next
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Video.bigSkipForward()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Video.bigSkipForward(), $(this).html())">
            Big skip forward
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Video.bigSkipBackward()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Video.bigSkipBackward(), $(this).html())">
            Big skip backward
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Video.smallSkipForward()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Video.smallSkipForward(), $(this).html())">
            Small skip foward
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Video.smallSkipBackward()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Video.smallSkipBackward(), $(this).html())">
            Small skip backward
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Video.rewind()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Video.rewind(), $(this).html())">
            Rewind
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Video.forward()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Video.forward(), $(this).html())">
            Forward
        </b>
    </li>
    <li tooltip="(Int) Xbmc.Player.Video.getTime()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Video.getTime(), $(this).html())">
            Get Time (seconds)
        </b>
    </li>
    <li tooltip="(Int) Xbmc.Player.Video.getTimeMs()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Video.getTimeMs(), $(this).html())">
            Get Time (miliseconds)
        </b>
    </li>
    <li tooltip="(Float) Xbmc.Player.Video.getPercentage()">
        <b onclick="Application.MessageBox.show(Xbmc.Player.Video.getPercentage(), $(this).html())">
            Get Percentage of playing time
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Player.Video.seekTime(i_seconds)">
        <b onclick="Application.Controls.setSeekTime('video')">
            Set seek time
        </b>
    </li>
</ul>