<h2>
    AudioPlayer
</h2>
<ul>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.AudioPlayer.playPause(), $(this).html())">
            Play / Pause
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.AudioPlayer.stop(), $(this).html())">
            Stop
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.AudioPlayer.skipPrevious(), $(this).html())">
            Previous
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.AudioPlayer.skipNext(), $(this).html())">
            Next
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.AudioPlayer.bigSkipForward(), $(this).html())">
            Big skip forward
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.AudioPlayer.bigSkipBackward(), $(this).html())">
            Big skip backward
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.AudioPlayer.smallSkipForward(), $(this).html())">
            Small skip foward
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.AudioPlayer.smallSkipBackward(), $(this).html())">
            Small skip backward
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.AudioPlayer.rewind(), $(this).html())">
            Rewind
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.AudioPlayer.forward(), $(this).html())">
            Forward
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.AudioPlayer.getTime(), $(this).html())">
            Get Time (seconds)
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.AudioPlayer.getTimeMs(), $(this).html())">
            Get Time (miliseconds)
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.AudioPlayer.getPercentage(), $(this).html())">
            Get Percentage of playing time
        </b>
    </li>
    <li>
        <b onclick="Application.Controls.setSeekTime('audio')">
            Set seek time
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.AudioPlayer.record(), $(this).html())">
            Record
        </b>
    </li>
</ul>