<h2>
    Xbmc.Playlist.Audio
</h2>
<ul>
    <li tooltip="(Bool) Xbmc.Playlist.Audio.play()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Audio.play(), $(this).html())">
            Play
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.Audio.skipPrevious()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Audio.skipPrevious(), $(this).html())">
            Skip previous
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.Audio.skipNext()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Audio.skipNext(), $(this).html())">
            Skip next
        </b>
    </li>
    <li tooltip="(Object) Xbmc.Playlist.Audio.getCurrentPlaylist()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Audio.getCurrentPlaylist(), $(this).html())">
            Get current playlist
        </b>
        <ul>
            <li tooltip="(Array->Object) Xbmc.Playlist.Audio.Xbmc.Playlist.Audio.getItems()">
                <b onclick="Application.MessageBox.show(Xbmc.Playlist.Audio.getItems(), $(this).html())">
                    Get items
                </b>
            </li>
            <li tooltip="(Int) Xbmc.Playlist.Audio.getCurrentItem()">
                <b onclick="Application.MessageBox.show(Xbmc.Playlist.Audio.getCurrentItem(), $(this).html())">
                    Get current item
                </b>
            </li>
            <li tooltip="(Int) Xbmc.Playlist.Audio.getItemCount()">
                <b onclick="Application.MessageBox.show(Xbmc.Playlist.Audio.getItemCount(), $(this).html())">
                    Get item count
                </b>
            </li>
        </ul>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.Audio.add('/an/existing/filepath')">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Audio.add('/an/existing/filepath'), $(this).html())">
            Add file
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.Audio.clear()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Audio.clear(), $(this).html())">
            Clear
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.Audio.shuffle()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Audio.shuffle(), $(this).html())">
            Enable shuffle
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.Audio.unShuffle()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Audio.unShuffle(), $(this).html())">
            Disable shuffle
        </b>
    </li>
</ul>