<h2>
    PicturePlayer
</h2>
<ul>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.Player.playPause('picture'), $(this).html())">
            Play / Pause
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.Player.stop('picture'), $(this).html())">
            Stop
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.Player.skipPrevious('picture'), $(this).html())">
            Previous
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.Player.skipNext('picture'), $(this).html())">
            Next
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.Player.moveLeft(), $(this).html())">
            Move left
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.Player.moveRight(), $(this).html())">
            Move right
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.Player.moveDown(), $(this).html())">
            Move down
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.Player.moveUp(), $(this).html())">
            Move up
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.Player.zoomIn(), $(this).html())">
            Zoom in
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.Player.zoomOut(), $(this).html())">
            Zoom out
        </b>
    </li>
    <li>
        <b onclick="Application.Controls.zoomPicture()">
            Zoom
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.Player.rotate(), $(this).html())">
            Rotate
        </b>
    </li>
</ul>