<h2>
    Xbmc.Playlist
</h2>
<ul>
    <li tooltip="(Bool) Xbmc.Playlist.play()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.play(), $(this).html())">
            Play
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.skipPrevious()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.skipPrevious(), $(this).html())">
            Skip previous
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.skipNext()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.skipNext(), $(this).html())">
            Skip next
        </b>
    </li>
    <li tooltip="(Object) Xbmc.Playlist.getCurrentPlaylist()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.getCurrentPlaylist(), $(this).html())">
            Get current playlist
        </b>
        <ul>
            <li tooltip="(Array[]->Object) Xbmc.Playlist.Xbmc.Playlist.getItems()">
                <b onclick="Application.MessageBox.show(Xbmc.Playlist.getItems(), $(this).html())">
                    Get items
                </b>
            </li>
            <li tooltip="(Int) Xbmc.Playlist.getCurrentItem()">
                <b onclick="Application.MessageBox.show(Xbmc.Playlist.getCurrentItem(), $(this).html())">
                    Get current item
                </b>
            </li>
            <li tooltip="(Int) Xbmc.Playlist.getItemCount()">
                <b onclick="Application.MessageBox.show(Xbmc.Playlist.getItemCount(), $(this).html())">
                    Get item count
                </b>
            </li>
        </ul>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.shuffle()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.shuffle(), $(this).html())">
            Enable shuffle
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.unShuffle()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.unShuffle(), $(this).html())">
            Disable shuffle
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.add('/an/existing/filepath')">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.add('/an/existing/filepath'), $(this).html())">
            Add file
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.clear()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.clear(), $(this).html())">
            Clear
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.create('/path/to/playlist.file')">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.create('/path/to/playlist.file'), $(this).html())">
            Create
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.destroy('?')">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.destroy('?'), $(this).html())">
            Destroy
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.remove(itemIndex)">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.remove(1), $(this).html())">
            Remove item
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.remove(itemIndex1, itemIndex2)">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.swap(1, 5), $(this).html())">
            Swap items
        </b>
    </li>
</ul>