<h2>
    System
</h2>
<ul>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.System.shutdown(), $(this).html())">
            Shutdown
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.System.suspend(), $(this).html())">
            Suspend
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.System.hibernate(), $(this).html())">
            Hibernate
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.System.reboot(), $(this).html())">
            Reboot
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.System.getInfo(), $(this).html())">
            Get info
        </b>
    </li>
</ul>