<h2>
    Xbmc.Playlist.Video
</h2>
<ul>
    <li tooltip="(Bool) Xbmc.Playlist.Video.play()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Video.play(), $(this).html())">
            Play
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.Video.skipPrevious()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Video.skipPrevious(), $(this).html())">
            Skip previous
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.Video.skipNext()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Video.skipNext(), $(this).html())">
            Skip next
        </b>
    </li>
    <li tooltip="(Object) Xbmc.Playlist.Video.getCurrentPlaylist()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Video.getCurrentPlaylist(), $(this).html())">
            Get current playlist
        </b>
        <ul>
            <li tooltip="(Array->Object) Xbmc.Playlist.Video.Xbmc.Playlist.Video.getItems()">
                <b onclick="Application.MessageBox.show(Xbmc.Playlist.Video.getItems(), $(this).html())">
                    Get items
                </b>
            </li>
            <li tooltip="(Int) Xbmc.Playlist.Video.getCurrentItem()">
                <b onclick="Application.MessageBox.show(Xbmc.Playlist.Video.getCurrentItem(), $(this).html())">
                    Get current item
                </b>
            </li>
            <li tooltip="(Int) Xbmc.Playlist.Video.getItemCount()">
                <b onclick="Application.MessageBox.show(Xbmc.Playlist.Video.getItemCount(), $(this).html())">
                    Get item count
                </b>
            </li>
        </ul>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.Video.shuffle()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Video.shuffle(), $(this).html())">
            Enable shuffle
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.Video.unShuffle()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Video.unShuffle(), $(this).html())">
            Disable shuffle
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.Video.add('/an/existing/filepath')">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Video.add('/an/existing/filepath'), $(this).html())">
            Add file
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.Video.clear()">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Video.clear(), $(this).html())">
            Clear
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.Video.create('/path/to/playlist.file')">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Video.create('/path/to/playlist.file'), $(this).html())">
            Create
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.Video.destroy('?')">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Video.destroy('?'), $(this).html())">
            Destroy
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.Video.remove(itemIndex)">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Video.remove(1), $(this).html())">
            Remove item
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.Playlist.Video.remove(itemIndex1, itemIndex2)">
        <b onclick="Application.MessageBox.show(Xbmc.Playlist.Video.swap(1, 5), $(this).html())">
            Swap items
        </b>
    </li>
</ul>