<script type="text/javascript">
$(document).ready(function()
{
    $('#media_details_info').load('view/player/media_details/info.html');
    $('#media_details_files').load('view/player/media_details/files.html');
    $('#media_details_playlist').load('view/player/media_details/playlist.html');
    $("#media_details_tabs").tabs("#media_details_panes > div");
});
</script>

<ul id="media_details_tabs" class="tabs">
    <li>
        <a href="#">Info</a>
    </li>
    <li>
        <a href="#">files</a>
    </li>
    <li>
        <a href="#">Playlist</a>
    </li>
</ul>

<div id="media_details_panes" class="panes">
    <div id="media_details_info" class="pane"></div>
    <div id="media_details_files" class="pane"></div>
    <div id="media_details_playlist" class="pane"></div>
</div>