<script type="text/javascript">
$(document).ready(function()
{
    $('#media_browser_shares').load('view/player/media_browser/shares.html');
    $('#media_browser_music').load('view/player/media_browser/music.html');
    $('#media_browser_movies').load('view/player/media_browser/movies.html');
    $('#media_browser_tvshows').load('view/player/media_browser/tvshows.html');
    $("#media_browser_tabs").tabs("#media_browser_panes > div");
});
</script>

<ul id="media_browser_tabs" class="tabs">
    <li>
        <a href="#">Shares</a>
    </li>
    <li>
        <a href="#">Music</a>
    </li>
    <li>
        <a href="#">Movies</a>
    </li>
    <li>
        <a href="#">Tv Shows</a>
    </li>
</ul>

<div id="media_browser_panes" class="panes">
    <div id="media_browser_shares" class="pane"></div>
    <div id="media_browser_music" class="pane"></div>
    <div id="media_browser_movies" class="pane"></div>
    <div id="media_browser_tvshows" class="pane"></div>
</div>