<script type="text/javascript">
$(document).ready(function()
{
    var s_activePlayer  = 'view/player/now_playing/';

    if (Xbmc.Status.isPictureShowing)
        s_activePlayer += 'picture';
    else if (Xbmc.Status.isAudioPlaying)
        s_activePlayer += 'audio';
    else if (Xbmc.Status.isVideoPlaying)
        s_activePlayer += 'video';
    else
        s_activePlayer += 'nothing';

    s_activePlayer += '.html';

    $('#nowPlaying_container').load(s_activePlayer);
});
</script>

<div id="nowPlaying_container"></div>