#container
{
    position:           absolute;
    top:                0px;
    left:               0px;
    right:              0px;
    bottom:             0px;
    padding:            0px;
}

#north
{
    border-bottom:      1px solid #aaa;
    height:             120px;
    background-color:   #ddd;
    padding:            5px;
    position:           absolute;
    top:                0px;
    left:               0px;
    right:              0px;
    padding:            0px;
}

#center
{
    position:           absolute;
    top:                120px;
    bottom:             60px;
    left:               0px;
    right:              0px;
    padding:            0px;
    overflow:           hidden;
}

#east
{
    position:           absolute;
    top:                0px;
    left:               0px;
    bottom:             0px;
    margin:             0px;
    padding:            0px;
    width:              400px;
}

#west
{
    position:           absolute;
    top:                0px;
    left:               400px;
    right:              0px;
    bottom:             0px;
    margin:             0px;
    padding:            0px;
}

#south
{
    border-top:         1px solid #aaa;
    background-color:   #ddd;
    height:             60px;
    padding:            0px;
    position:           fixed;
    bottom:             0px;
    left:               0px;
    right:              0px;
}

#mediaDetails_tabs
{
    position:           absolute;
    top:                0px;
    left:               0px;
    right:              0px;
    bottom:             0px;
    margin:             0px;
    padding:            0px;
}

#sources_tabs
{
    position:           absolute;
    top:                0px;
    left:               0px;
    right:              0px;
    bottom:             0px;
    margin:             0px;
    padding:            0px;
}

#nowPlaying_container
{
    position:           absolute;
    top:                0px;
    left:               0px;
    right:              0px;
    bottom:             0px;
    margin:             0px;
    padding:            0px;
}