#playlist_select
{
    margin:             10px;
    width:              95%;
    border:             1px solid #ddd;
    background-color:   #fff;
    color:              #39476D;
}

#playlist_container
{
    position:           absolute;
    left:               0px;
    top:                65px;
    bottom:             0px;
    right:              0px;
    overflow:           auto;
    padding:            5px;
}

#playlist_container ul
{
    list-style-type:    none;
    padding:            0px 0px 0px 5px;
    margin:             0px;
    color:              #39476D;
}

#playlist_container ul li
{
    cursor:             pointer;
    padding:            2px 2px 2px 20px;
}

#playlist_container ul li span:hover
{
    text-decoration:    underline;
}