<h2>
    Files
</h2>
<ul>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.Files.getSources(), $(this).html())">
            Get sources
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.Files.download('http://www.kraak-forum.nl/remote/muziek/Bram%20Kerst%20CD/Bordello/bordello_klaar.wav'), $(this).html())">
            Download
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.Files.getDirectory(''), $(this).html())">
            Get directory
        </b>
    </li>
</ul>