<h2>
    Files
</h2>
<ul>
    <li tooltip="(Object) Xbmc.Files.getSources()">
        <b onclick="Application.MessageBox.show(Xbmc.Files.getSources(), $(this).html())">
            Get sources
        </b>
    </li>
    <li tooltip="(String) Xbmc.Files.download('http://www.google.com')">
        <b onclick="Application.MessageBox.show(Xbmc.Files.download('http://www.google.com'), $(this).html())">
            Download
        </b>
    </li>
    <li tooltip="(Object) Xbmc.Files.getDirectory('')">
        <b onclick="Application.MessageBox.show(Xbmc.Files.getDirectory(''), $(this).html())">
            Get directory
        </b>
    </li>
</ul>