<h2>
    Xbmc.JsonRpc
</h2>
<ul>
    <li tooltip="(Object) Xbmc.JsonRpc.introspect()">
        <b onclick="Application.MessageBox.show(Xbmc.JsonRpc.introspect(), $(this).html())">
            Introspect
        </b>
    </li>
    <li tooltip="(Int) Xbmc.JsonRpc.version()">
        <b onclick="Application.MessageBox.show(Xbmc.JsonRpc.version(), $(this).html())">
            Version
        </b>
    </li>
    <li tooltip="(Object) Xbmc.JsonRpc.permission()">
        <b onclick="Application.MessageBox.show(Xbmc.JsonRpc.permission(), $(this).html())">
            Permission
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.JsonRpc.ping()">
        <b onclick="Application.MessageBox.show(Xbmc.JsonRpc.ping(), $(this).html())">
            Ping
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.JsonRpc.announce('ApplicationTitle', 'Announcement')">
        <b onclick="Application.MessageBox.show(Xbmc.JsonRpc.announce('ApplicationTitle', 'Announcement'), $(this).html())">
            Announce
        </b>
    </li>
</ul>