<h2>
    PicturePlayer
</h2>
<ul>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.PicturePlayer.playPause(), $(this).html())">
            Play / Pause
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.PicturePlayer.stop(), $(this).html())">
            Stop
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.PicturePlayer.skipPrevious(), $(this).html())">
            Previous
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.PicturePlayer.skipNext(), $(this).html())">
            Next
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.PicturePlayer.moveLeft(), $(this).html())">
            Move left
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.PicturePlayer.moveRight(), $(this).html())">
            Move right
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.PicturePlayer.moveDown(), $(this).html())">
            Move down
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.PicturePlayer.moveUp(), $(this).html())">
            Move up
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.PicturePlayer.zoomIn(), $(this).html())">
            Zoom in
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.PicturePlayer.zoomOut(), $(this).html())">
            Zoom out
        </b>
    </li>
    <li>
        <b onclick="Application.Controls.zoomPicture()">
            Zoom
        </b>
    </li>
    <li>
        <b onclick="Application.MessageBox.show(Xbmc.PicturePlayer.rotate(), $(this).html())">
            Rotate
        </b>
    </li>
</ul>