<h2>
    VideoPlayer
</h2>
<ul>
    <li tooltip="Xbmc.VideoPlayer.playPause()">
        <b onclick="Application.MessageBox.show(Xbmc.VideoPlayer.playPause(), $(this).html())">
            Play / Pause
        </b>
    </li>
    <li tooltip="Xbmc.VideoPlayer.stop()">
        <b onclick="Application.MessageBox.show(Xbmc.VideoPlayer.stop(), $(this).html())">
            Stop
        </b>
    </li>
    <li tooltip="Xbmc.VideoPlayer.skipPrevious()">
        <b onclick="Application.MessageBox.show(Xbmc.VideoPlayer.skipPrevious(), $(this).html())">
            Previous
        </b>
    </li>
    <li tooltip="Xbmc.VideoPlayer.skipNext()">
        <b onclick="Application.MessageBox.show(Xbmc.VideoPlayer.skipNext(), $(this).html())">
            Next
        </b>
    </li>
    <li tooltip="Xbmc.VideoPlayer.bigSkipForward()">
        <b onclick="Application.MessageBox.show(Xbmc.VideoPlayer.bigSkipForward(), $(this).html())">
            Big skip forward
        </b>
    </li>
    <li tooltip="Xbmc.VideoPlayer.bigSkipBackward()">
        <b onclick="Application.MessageBox.show(Xbmc.VideoPlayer.bigSkipBackward(), $(this).html())">
            Big skip backward
        </b>
    </li>
    <li tooltip="Xbmc.VideoPlayer.smallSkipForward()">
        <b onclick="Application.MessageBox.show(Xbmc.VideoPlayer.smallSkipForward(), $(this).html())">
            Small skip foward
        </b>
    </li>
    <li tooltip="Xbmc.VideoPlayer.smallSkipBackward()">
        <b onclick="Application.MessageBox.show(Xbmc.VideoPlayer.smallSkipBackward(), $(this).html())">
            Small skip backward
        </b>
    </li>
    <li tooltip="Xbmc.VideoPlayer.rewind()">
        <b onclick="Application.MessageBox.show(Xbmc.VideoPlayer.rewind(), $(this).html())">
            Rewind
        </b>
    </li>
    <li tooltip="Xbmc.VideoPlayer.forward()">
        <b onclick="Application.MessageBox.show(Xbmc.VideoPlayer.forward(), $(this).html())">
            Forward
        </b>
    </li>
    <li tooltip="Xbmc.VideoPlayer.getTime()">
        <b onclick="Application.MessageBox.show(Xbmc.VideoPlayer.getTime(), $(this).html())">
            Get Time (seconds)
        </b>
    </li>
    <li tooltip="Xbmc.VideoPlayer.getTimeMs()">
        <b onclick="Application.MessageBox.show(Xbmc.VideoPlayer.getTimeMs(), $(this).html())">
            Get Time (miliseconds)
        </b>
    </li>
    <li tooltip="Xbmc.VideoPlayer.getPercentage()">
        <b onclick="Application.MessageBox.show(Xbmc.VideoPlayer.getPercentage(), $(this).html())">
            Get Percentage of playing time
        </b>
    </li>
    <li tooltip="Xbmc.VideoPlayer.seekTime(int)">
        <b onclick="Application.Controls.setSeekTime('video')">
            Set seek time
        </b>
    </li>
</ul>