<script type="text/javascript">
$(document).ready(function()
{
    $("#media_browser_tabs").tabs(
    {
        ajaxOptions:
        {
            error: function(xhr, status, index, anchor)
            {
                //$(anchor.hash).html("Couldn't load this tab. We'll try to fix this as soon as possible. If this wouldn't be a demo.");
            }
        }
    });
});
</script>


<div id="media_browser_tabs" style="margin:0px;padding:0px; border:0px;">
    <ul>
        <li>
            <a href="view/player/media_browser/shares.html">Shares</a>
        </li>
        <li>
            <a href="view/player/media_browser/music_library.html">Music</a>
        </li>
        <li>
            <a href="view/player/media_browser/movie_library.html">Movies</a>
        </li>
        <li>
            <a href="view/player/media_browser/tv_library.html">Tv</a>
        </li>
    </ul>
</div>
