<script type="text/javascript">
$(document).ready(function()
{
    Application.MediaDetails.init('media_details_tabs');
});
</script>


<div id="media_details_tabs" style="padding:0px; border:0px;">
    <ul>
        <li>
            <a href="view/player/media_details/details.html">Details</a>
        </li>
        <li>
            <a href="view/player/media_details/files.html">Files</a>
        </li>
        <li>
            <a href="view/player/media_details/playlist.html">Playlist</a>
        </li>
    </ul>
</div>
