<h2>
    Xbmc
</h2>
<ul>
    <li tooltip="(String) Xbmc.getApiPath()">
        <b onclick="Application.MessageBox.show(Xbmc.getApiPath(), $(this).html())">
            Api path
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.debuggingEnabled()">
        <b onclick="Application.MessageBox.show(Xbmc.debuggingEnabled(), $(this).html())">
            Debugging enabled
        </b>
    </li>
    <li tooltip="(Bool) Xbmc.log('Test log message', 'info')">
        <b onclick="Application.MessageBox.show(Xbmc.log('Test log message', 'info'), $(this).html())">
            Log
        </b>
    </li>
</ul>